@CHARSET "UTF-8";

body{
	height : 100%;
	width : 100%;
}

.all{
	margin-bottom : 10%;
	
}

input[type=text],input[type=password],input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
    width : 100%;
}

.join_form {
	border : 1px solid #0000004a;
	max-width : 500px;
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 20px;
    margin : 0 auto;
   
}
#email{
	width : 100%
}
/* 
#domain{
	width : 30%
}	 */
#id{
	width: 85%;
}

p{
	text-align : center;
}

textarea{
	width : 100%;
}
select{
	width : 30%;
	padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

a{
	text-decoration: none;
}