* {
	margin: 0px;
	padding: 0px;
}
html, body{
	width: 100%; 
	height: 100%;
}
body {
	display: table;
}
.page-container {
	display:flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
}
.nav-container {
	width: 100%;
}
.main-container {
	display:flex;
	width: 100%;
	height: 100%;
	
}
#left {width: 200px; height: 100%;}