@charset "UTF-8";
.col-lg-6 {
	width: 600px;
}

.col-lg-4 {
	width: 600px;
}

#date_text {
	width: 150px;
	display: inline;
}

#three_div {
	width: 150px;
	display: inline-block;
}

.form-control {
	text-align: right;
}
