@CHARSET "UTF-8";

body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

{box-sizing:border-box;}
table{margin:0 auto;width:80% ;border-collapse:collapse;}
td{border-bottom:1px solid #cdc9c9;padding:1%;}
tr:nth-child(1){border-bottom:2px solid #cdc9c9; height:20px;}
td:nth-child(1){width:15%;    background-color: #f1f1f1;}
th{background:#f1f1f1;padding:1% 0.5%;}
input, td{font-family:돋음; font-size:18; }
.center{text-align:center}
.center a, input[type=submit],input[type=reset],input[type=button]
{display:inline-block;background:gray;color:white;text-decoration:none;padding:0 5px;font-size:16px;border:none}
.center a:hover,input[type=submit]:hover,input[type=reset]:hover,input[type=button]:hover{opacity:0.8}
input[type=text], input[type=password]{width:100%;}
input[type=submit],input[type=reset]{border-radius:3px}
textarea{width:90%}
input[name="BOARD_NAME"]{border:none}
img{width:20px;} 
   