.new-schedule-main {
	display : inline-block;
	width : 600px;
	height : 100%;
}
.new-schedule-container {
	box-sizing: border-box;
	border: solid black 1px;
	padding : 5px;
	margin : 3px;
}
.new-schedule-title-container {
	height : 50px;
}
.new-schedule-title {
	margin-left: 10px;
	font-size : 20px;
	display : inline-block;
	width: 100%;
}

.new-schedule-text-container1 {
	height : 50px;
}
.new-schedule-text-container2 {
	height : 150px;
}
.new-schedule-map-container {
	display : inline-block;
	width : 300px;
	height : 300px;
	margin-bottom: 20px;
}

#comment {
	width: 100%;
	resize: none;
}
.signup {
   border : 1px solid #0000004a;
   max-width : 700px;
    border-radius: 5px;
    background-color: #f2f2f259;
    padding: 20px;
    margin : 0 auto;
}
form {
	margin: 30px;
}

.ui-timepicker-table td a {
	width: 2.2em;
}