.attend-table {
	vertical-align: middle;
	border: 1px solid #80808040;
}

.attend-title {
	margin-left: 10px;
}
.attend-main {
	margin: 20px;
}
.attend-container {
	box-sizing: border-box;
	border: 1px solid black;
	margin: 3px;
	padding: 5px;
}
.attend-name {
	display: inline-block;
	margin: 10px;
	width: 180px;
}
.attend-button-space {
	display: inline-block;
	text-align: center;
	width: 200px;
}
.attend-submit-space {
	text-align: right;
}