
.attend-table {
	vertical-align: middle;
	margin: 20px;
	border: 1px solid #80808040;
}
.attend-title {
	margin-left: 10px;
}
.attend-time-container {
	box-sizing: content-box;
	width: 100%;
	vertical-align: middle;
	text-align: right;
}

